/* Global Styles */
body {
    background-color: #f1e8dd;
    font-family: Anuphan, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
    color: #333;
    margin: 0;
    padding: 0;
    text-align: center;
    line-height: 1.5;
    tab-size: 4;
    scroll-behavior: smooth;

}

.highlight-de {
    color: #df5d2f; /* Data Engineering Student */
}

.highlight-cs {
    color: #3c7adf; /* Computer Science */
}
.highlight-data {
    color: #449388;
}
/* Headings */
h1, h2 {
    margin: 0 auto;
    font-weight: bold;
}

h1 {
    font-size: 48px;

    color: #2c3e50;
    margin-top: 50px;
    margin-bottom: 20px;
}

h2 {
    font-size: 28px;

    color: #2c3e50;
    margin-bottom: 30px;
}

/* Paragraphs */
p {
    line-height: 1.8;
    font-size: 18px;
    max-width: 700px;
    margin: 0 auto 40px;
    color: #555;

}

a {
    color: #e74c3c;
    font-weight: bold;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: border-color 0.3s ease, color 0.3s ease;
}

a:hover {
    border-color: #e74c3c;
    color: #c0392b;
}

/* Navigation Menu */
ul {
    list-style: none;
    margin: 0;
    padding: 20px 0;
    display: inline-block;
    background-color: #f0f0f0;
    border-radius: 30px;
}

li {
    display: inline;
    margin: 0 15px;
}

li a {
    font-size: 18px;
    color: #333;
    padding: 10px 20px;
    border-radius: 20px;
    transition: background-color 0.3s ease;
}

li a:hover {
    background-color: #2c3e50;
    color: white;
}

img {
    border-radius: 10px;
    display: block;
    margin: 40px 0 40px 20px;
    max-width: 400px;
    height: auto;
    float: right;
}

section {
    margin: 25px 0;
}

/* Footer */
footer {
    clear: both;
    text-align: center;
    padding: 20px 0;
    background-color: #f0f0f0;
    color: #777;
    font-size: 14px;
    border-top: 1px solid #e0e0e0;
    margin-top: 60px;
}

/* Media Queries */
@media (max-width: 1024px) {
    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 24px;
    }

    p {
        font-size: 16px;
        max-width: 90%;
    }

    li a {
        font-size: 16px;
        padding: 8px 15px;
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 36px;
    }

    h2 {
        font-size: 22px;
    }

    p {
        font-size: 16px;
        max-width: 100%;
    }

    ul {
        padding: 15px 0;
        border-radius: 20px;
    }

    li {
        margin: 0 10px;
    }

    li a {
        font-size: 16px;
        padding: 7px 12px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 20px;
    }

    p {
        font-size: 14px;
        max-width: 100%;
        margin: 0 10px 40px;
    }

    ul {
        padding: 10px 0;
        border-radius: 15px;
    }

    li {
        margin: 0 5px;
    }

    li a {
        font-size: 14px;
        padding: 5px 10px;
    }

    img {
        max-width: 90%;
        height: auto;
        margin: 30px auto;
    }

    footer {
        padding: 15px 0;
        display: block;
        unicode-bidi: isolate;

    }
}
